body{
  background: url("/static/Images/farm.jpg") center no-repeat fixed;
  background-size: cover;
  /*background-color: lightgreen;*/
  z-index:-1;
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: yellowgreen;  /*	mediumspringgreen */
  padding-left: 200px;
}

li {
  float: left;
}

li a {
  display: block;
  color: 	darkolivegreen;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

li a:hover
    {
      background-color: greenyellow;
      color:darkolivegreen;
      text-decoration: none;
    }

.active_nav{
  background-color: #2E8B57;
  width: 100px;
  text-align: center;
  color: yellow;
}
.active_nav:hover{
  background-color: #3CB371;
  color: green;
}
select{
  width: 400px;
  height : 30px;
  margin-left: 230px;
  display:block;
  border: 2px solid white;
  border-radius: 7px;
  background-color: #8842d5;
  color:white;
}
input[type = file]{
    content: 'Select some files';
    display: block;
    margin-left: 230px;
    background: #8842d5;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px 70px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: grab;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
input[type=button], input[type=reset], input[type=submit] {
    background-color: #8842d5;
    border: 2px solid white;
    color: white;
    padding: 12px 36px;
    text-decoration: none;
    margin: 5px 4px;
    cursor: pointer;
    width:90%;
    margin-left: 150px;
    margin-top: 50px;
}
label{
  margin-left: 200px;
  display: block;
  color: white;
}

:root{
 --pred:0%;
}

 .container_bar{
 height: fit-content;
 background: #556B2F;
 width: 50%;
 opacity: 1;
 padding: 5%;
 border-radius: 10px;
 padding-bottom: 100px;
 }

 .p_change{
     background-color: brown;
     height: 30px;
     border-radius: 10px;
     text-align: center;
     transition: width 2s;
 }
 .name{
   colour : brown;
   font-style: bold;
   background-color: yellow;
   text-align: center;
   font-family: fantasy;
 }
.bar{
  border-radius: 10px;
  width: 50%;
  height: 20px;
  margin-top: 12px;
  background: white;
  color: white;
  text-align: center;
}
.carousel_mine{
   height : 30%;
   width : 90%;
   margin-top: 100px;
   margin-left: 50px;
}
.p_c_v{
  color: white;
  font-style: bold;
  background-color: black;
}
.heading{
  text-align: center;
}
.image_display{
  float: left;
  margin-left: 1000px;
  height: 200px;
  width: 200px;
}
